<h1>Welcome to the Project</h1>

<h2>Details</h2>
<div>
    <h5>Project Created by Amit Musale</h5>
    <h5>Center: Kharghar</h5>
    <h5>RollNo: 210940320017</h5>
    
</div>
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>
